@use 'variables' as vars;

div#editor.rendering {
  padding: 0 1em;
}
div#editor.editing {
  padding: 0;
}

.editor-preview-side {
  background-color: lighten(vars.$background-color, vars.$shade-delta);
}

.dark .editor-preview-side {
  background-color: lighten(vars.$background-color-dark, vars.$shade-delta);
}

div.CodeMirror {
  background-color: vars.$background-color;
  color: vars.$front-color;
}

.dark div.CodeMirror {
  background-color: lighten(vars.$background-color-dark, 10%);
  color: vars.$front-color-dark;
}

.editor-toolbar {
  background-color: white !important;
}

ul.contains-task-list {
  list-style-type: none;
  padding: 0 1ex;
}
a,
a:visited {
  color: darken(vars.$primary-color, vars.$shade-delta);
  text-decoration: none;
}
.dark a,
.dark a:visited {
  color: lighten(vars.$primary-color, 2 * vars.$shade-delta);
}
a:hover {
  text-decoration: underline;
}
pre {
  background: #e4e4e4;
  color: #111;
  padding: 1ex;
  border-radius: 1ex;
  overflow-x: auto;
}

abbr {
  cursor: help;
}
dt {
  font-size: 130%;
}

/* tables formatting */

table {
  border-collapse: collapse;
}

$tableborder: solid 1px vars.$front-color;
$tableborder-dark: solid 1px vars.$front-color-dark;

tr {
  border-bottom: $tableborder;
}
td,
th {
  border-right: $tableborder;
  padding: 0.5ex 1ex;
}
.dark tr {
  border-bottom: $tableborder-dark;
}
.dark td,
.dark th {
  border-right: $tableborder-dark;
}

td:last-child,
th:last-child {
  border-right: none;
}

tbody > tr:last-child {
  border-bottom: none;
}
