<!-- FILE UPLOAD -->

<div class="modal micromodal-slide" id="modal-upload" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">Upload content</h2>
        <button
          class="modal__close"
          aria-label="Close modal"
          data-micromodal-close
        ></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <form action="upload" class="dropzone" id="upload-zone"></form>
      </main>
      <footer class="modal__footer">
        <button
          class="modal__btn"
          data-micromodal-close
          aria-label="Close this dialog window"
        >
          Close
        </button>
      </footer>
    </div>
  </div>
</div>
<!-- HELP -->

<div class="modal micromodal-slide" id="modal-help" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">Help</h2>
        <button
          class="modal__close"
          aria-label="Close modal"
          data-micromodal-close
        ></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <h3>Shortcuts</h3>
        <table>
          <tr>
            <td><b>e</b></td>
            <td>Edit</td>
          </tr>
          <tr>
            <td><b>n</b></td>
            <td>New page</td>
          </tr>
          <tr>
            <td><b>f</b></td>
            <td>Find / Search</td>
          </tr>
          <tr>
            <td><b>escape</b></td>
            <td>Save (return to view mode)</td>
          </tr>
          <tr>
            <td><b>delete</b></td>
            <td>Delete this note</td>
          </tr>
          <tr>
            <td><b>backspace</b></td>
            <td>Toggle the side bar display</td>
          </tr>
          <tr>
            <td><b>left/right</b></td>
            <td>Navigate</td>
          </tr>
        </table>
      </main>
      <footer class="modal__footer">
        <button
          class="modal__btn"
          data-micromodal-close
          aria-label="Close this dialog window"
        >
          Close
        </button>
        <button
          class="modal__btn"
          data-micromodal-close
          aria-label="Log out"
          @click.once="logout"
        >
          Log out
        </button>
      </footer>
    </div>
  </div>
</div>

<!-- Generic action -->

<div class="modal micromodal-slide" id="modal-action" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">{{title}}</h2>
      </header>
      <main class="modal__content" id="modal-1-content" v-html="content"></main>
      <input
        type="text"
        class="userInput"
        v-if="hasInput"
        v-model="userInput"
        v-on:keyup.enter="runConfirmation()"
      />
      <footer class="modal__footer">
        <button
          class="modal__btn modal__btn-primary"
          data-micromodal-close
          aria-label="Close this dialog window"
          @click="runConfirmation()"
        >
          {{actionName}}
        </button>
        <button
          class="modal__btn"
          data-micromodal-close
          aria-label="Close this dialog window"
        >
          Cancel
        </button>
      </footer>
    </div>
  </div>
</div>
