<div id="topbar">
  <h1 :class="titleClass">
    <span @click="toggleSide()">{{pageTitle}}</span>
    <span id="barbuttons">
      <bar-button
        icon="img/search.svg"
        caption="Search</br>[F]"
        @click="searchMode()"
      />
      <bar-button
        icon="img/edit.svg"
        :caption="editorMode()?'Save</br>[Esc]':'Edit</br>[E]'"
        @click="toggleEditor()"
      />
      <bar-button
        icon="img/forget.svg"
        v-if="editorMode()"
        caption="Cancel"
        @click="cancelEdit()"
      />
      <bar-button
        icon="img/trash.svg"
        v-else
        caption="Delete</br>[DEL]"
        @click="deletePage()"
      />
      <bar-button
        icon="img/brightness.svg"
        caption="Theme"
        @click="toggleDark()"
      />
      <bar-button icon="img/gear.svg" caption="Help" @click="showHelp()" />
    </span>
  </h1>
</div>
<div id="sidebar">
  <div
    v-for="page in pages"
    v-show="isPageVisible(page.name)"
    @click.stop="isFolder(page.name) ? toggleFolder(page.name) : openPageByName(page.name)"
    :class="getTabClasses(page.name)"
    :key="page.name"
    :style="getIndent(page.name)"
    class="sidebar-item-container"
  >
    <div class="item-content">
      <span v-if="isFolder(page.name)" class="folder-icon">
        {{ isCollapsed(page.name) ? '📁' : '📂' }}
      </span>
      <span v-else-if="page.name !== 'Home'" class="file-icon"> 📄 </span>
      <span class="item-name">{{ getDisplayName(page.name) }}</span>
    </div>

    <div
      v-if="isFolder(page.name) && !isCollapsed(page.name)"
      class="item-actions"
    >
      <span
        @click.stop="newPage(getPageParent(page.name))"
        title="New Page in this folder"
        class="action-btn"
        >📄+</span
      >
      <span
        @click.stop="newFolder(getPageParent(page.name))"
        title="New Folder in this folder"
        class="action-btn"
        >📁+</span
      >
    </div>
  </div>
  <div v-on:click="newPage()" class="pageTab"><b>+ Add new root note</b></div>
  <div v-on:click="newFolder()" class="pageTab"><b>+ Add root folder</b></div>
</div>
<div id="main">
  <markdown-editor ref="editor" @docChanged="savePage"></markdown-editor>
</div>
<modals ref="modals" @addedImage="imageAdded" @logout="logout"></modals>
