<div id="topbar">
  <h1 class="toptitle">
    <span @click="toggleSide()">{{pageTitle}}</span>
    <span id="barbuttons">
      <bar-button caption="Search" @click="searchMode()" />
      <bar-button v-if="editorMode()" caption="View" @click="toggleEditor()" />
      <bar-button v-else caption="Edit" @click="toggleEditor()" />
      <bar-button caption="Delete" @click="deletePage()" />
      <bar-button caption="Color" @click="toggleDark()" />
      <bar-button caption="Help" @click="showHelp()" />
    </span>
  </h1>
</div>
<div id="sidebar">
  <div
    v-for="page in pages"
    v-on:click="openPageByName(page.name)"
    :class="getTabClasses(page.name)"
    :key="page.name"
  >
    {{page.name}}
  </div>
  <div v-on:click="newPage()" class="pageTab"><b>+ Add new</b></div>
</div>
<div id="main">
  <markdown-editor ref="editor" @docChanged="savePage"></markdown-editor>
</div>
<modals ref="modals"></modals>
